<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Udregn dit BMI</title>
    <link rel = "stylesheet" href="../static/css/BMI.css" th:href ="@{css/BMI.css}">
</head>
<body>
<div class="page-container">

<div class = block-container>
 <h1 class= left-align> Skriv dine tal ind her</h1>
        <form action="/BMI" method="post">

 <div class = block>
     <h4>Hvad er din vægt? </h4>
     <input type="text" id="answerVægt" name="vægt" placeholder="din vægt">
 </div>

 <div class="block">
    <h4> Hvad er din højde</h4>
     <input type="text" id="answerHøjde" name="højde" placeholder="din højde?">
 </div>
            <h1> </h1>
 <button class="my-button"> Beregn </button>

 </form>
</div>
</div>
</body>
</html>