<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kopi af BT</title>
    <link rel = "stylesheet" href="../static/css/BT.css" th:href ="@{css/BT.css}">

</head>
<body>

<div class = inline>
    <p1> BT </p1>
    <p2> <a href="nyheder"> NYHEDER </a></p2>
    <p2> SPORT </p2>
    <p2> UNDERHOLDNING </p2>
    <p2> PENGE </p2>
</div>

<div class = block-container>
    <a href="Terminator" class = block>
        <h1 > Er du den næste Terminator?</h1>
    </a>
    <div class = block>
        <img src="../static/images/ter.jpg" th:src="@{images/ter.jpg}" width="500" height="400">

    </div>
</div>

<div class="block-container">
    <div class = block>
        <a href="BMI">
    <h1> Udregn din BMI her</h1>
        </a>
    </div>
    <div class = block>
    <img src="../static/images/ter.jpg" th:src="@{images/ter.jpg}" width="500" height="400">
    </div>
</div>


<div class="block-container">
    <div class = block>
        <h1> jeg laver lige en ekstra</h1>
    </div>
    <div class = block>
        <img src="../static/images/ter.jpg" th:src="@{images/ter.jpg}" width="500" height="400">
    </div>
</div>


</body>
</html>