    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>vi tester bare</title>
    </head>
    <body>
    <h1>en overskrift</h1>
    <div>
            <p>
                en sektionen som indeholder tekst
            </p>
        <p>
            her kommer et billede
        </p>

    <img src ="../static/images/hh1.png" th:src="@{images/hh1.png}" width="1200" height="500">

    </div>
    <div>
        <input type = "text" placeholder="skriv din text">
        <button> sumit svar </button>
    </div>


    </body>
    </html>