<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nyhed</title>
  <link rel = "stylesheet" href="../static/css/nyheder.css" th:href ="@{css/nyheder.css}">
</head>
<body>
    <div class="inlineNyheder">
        <p2> <a href="BT">BT</a> </p2>
        <div class="inline">
        <p1 > Nyheder til dig </p1>
    </div>
</div>


<div class=block-container>
  <div class=block>
    <h1> <a href="Terminator">lars udtaler sig om Termiantor</a> </h1>
  </div>

    <div class="block">
        <h1> <a href="https://www.bt.dk/"> den rigtige BT, gør det igen</a> </h1>

    </div>

</div>


</body>
</html>